/*3. Add Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px grey;
	height: 100vh;
	width: 100vw;
}


/*nav section 
selector used
-type selector
-class selector
-descendant selector
*/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100px;
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #f7fbfb;
	z-index: 1;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	height: auto;
	width: 80%;
	list-style-type: none;
	cursor: pointer;
}

.right-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	height: auto;
}

.right-nav li {
	margin-left: 20px;
}

.tuitt-button {
	padding: 0.8rem 1.5rem;
	border-radius: 50px;
	border: none;
	color: white;
	background-color: #c2195b;
	text-shadow: 1px 1px grey;
	cursor: pointer;
}


/*landing page
selector used
-class selector
-id selector
-grouping selectors
*/
#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.front-bg {
	height: 100%;
	width: 100%;
	color: white;
	background-color: #00000090;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
	height: 80%;
	width: 85%;
}

.title {
	text-align: right;
	font-size: 3rem;
	width: 35%;
}

.subtitle {
	text-align: right;
	font-weight: normal;
	font-size: 1.5rem;
	width: 30%;
}

.title, .title-2 {
	font-family: "Zilla Slab";
}

.title-2 {
	font-size: 2.2rem;
}

.apply-button {
	padding: 0.8rem 4rem;
	border-radius: 50px;
	border: none;
	color: white;
	background-color: #c2195b;
	text-shadow: 1px 1px grey;
	cursor: pointer;
}


/*intro section & pre-footer section
selector used
-class selector
-grouping selectors
*/
.intro, .pre-footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: 300px;
	width: 70%;
	margin: auto;
	padding: 2rem 0;
}

.intro-description, .prefooter-description {
	width: 70%;
}


/*pre-footer section
selector used
-class selector
*/
.prefooter-description {
	text-align: center;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	padding: 0.8rem 3.5rem;
	border-radius: 50px;
	border: none;
	color: white;
	background-color: #336589;
	text-shadow: 1px 1px grey;
	cursor: pointer;
}


/*footer
selector used
-type selector
-child selectors
*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 20%;
	width: 100%;
}

footer > span {
	margin: 0 1rem;
}